.header {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 37px 0; 
    @include desktop-small {
        gap: 0;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
    @include tablet-small {
        padding-left: 0;
        padding-right: 0;
    }   
    &__burger {
        display: none;
        @include desktop-small {
            display: block;
        }
    }
    &__btn {
        padding: 15px 30px;
        font-weight: 700;
    }
}
.header-nav {
    width: 100%;
    .material-icons {
        color: $c-white;
        display: none;
        @include desktop-small {
            display: block;
            position: absolute;
            top: 40px;
            right: 20px;
        }
    }
    &__ul {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // @include desktop-small {
        //     flex-direction: column;
        // }
    }
    &__row {
        display: flex;
        align-items: center;
        gap: 50px;
        @include desktop-small {
            flex-direction: column;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }

    }
    &__a {
        @include text($font-body, 700, 16px, 20px, $c-title);
        transition: $transition;
        @include desktop-small {
            color: $c-white;
        }        
        &:hover {
            color: $c-primary;
        }
    }
    @include desktop-small {
        position: fixed;
        z-index: 9;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.8);
        transform: translateX(-150%);
        transition: $transition;
        .header-nav__ul {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            gap: 20px;
        }
        .header-nav__a {
            font-size: 18px;
        }
    }
    &._active {
        transform: translateX(0);
    }
}
